#dinamikageraklurusbab2,
#dinamikageraklurusbab3,
#dinamikageraklurusbab4,
#dinamikageraklurusbab5,
#dinamikageraklurusbab6,
#dinamikageraklurusbab7,
#dinamikageraklurusbab8 {
  display: none;
}
#dinamikarotasibab2,
#dinamikarotasibab3,
#dinamikarotasibab4,
#dinamikarotasibab5,
#dinamikarotasibab6,
#dinamikarotasibab7,
#dinamikarotasibab8,
#dinamikarotasibab9,
#dinamikarotasibab10 {
  display: none;
}

#fisikamodernbab2,
#fisikamodernbab3,
#fisikamodernbab4,
#fisikamodernbab5,
#fisikamodernbab6,
#fisikamodernbab7,
#fisikamodernbab8,
#fisikamodernbab9,
#fisikamodernbab10,
#fisikamodernbab11,
#fisikamodernbab12,
#fisikamodernbab13,
#fisikamodernbab14,
#fisikamodernbab15,
#fisikamodernbab16,
#fisikamodernbab17,
#fisikamodernbab18,
#fisikamodernbab19,
#fisikamodernbab20 {
  display: none;
}
